<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
	<title></title>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
	<meta content="" name="keywords" />
	<meta content="" name="description" />
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
	<link href="/static/default.css" media="all" rel="stylesheet" type="text/css" />
	<script type="text/javascript">
	</script>

</head>
<body>
<div id="header-wrapper">
<div class="container" id="header">
<div id="logo">
<h1>EdriS MANAGEMENT</h1>
</div>

<div id="menu">
<ul>
	<li class="current_page_item"><a accesskey="1" href="#" title="">New component</a></li>
	<li>&nbsp;</li>
</ul>
</div>
</div>

<div id="header-featured">
<div id="banner-wrapper">&nbsp;</div>
</div>
</div>

<div id="wrapper">
<div class="container" id="page">
<div id="content">
<div class="title">

<h2><a href="/pi-system-sdf">Setting PI System Full Factorial Simulation Task</a></h2>
	<p>&nbsp;
<h2><a href="/set-BBVAP">Setting BBV Task</a></h2>
	<p>&nbsp;
<h2><a href="/Battery-SPS-Plot">Setting SPS Battery Plotting Task</a></h2>
    <p>&nbsp;
<h2><a href="/System-SPS-Plot">Setting SPS System Plotting Task</a></h2>
    <p>&nbsp;
    <br>
<h2><a href="/mytasks">View My History Tasks</a></h2>
    <p>&nbsp;
    <br>
<!--
<h2><a href="/set-new-component">Setting New Component</a></h2>
    <p>&nbsp;
<h2><a href="/rename">Rename EDRIS Database</a></h2>
    <p>&nbsp;
<h2><a href="/set-project">Set Project</a></h2>
-->


</div>
</div>
</div></div>
</body>
</html>
