<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
	<title></title>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
	<meta content="" name="keywords" />
	<meta content="" name="description" />
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
	<link href="/static/default.css" media="all" rel="stylesheet" type="text/css" /><script type="text/javascript" src="/static/js/tristate-0.9.2.js" ></script><script type="text/javascript">
    <!--

    -->
    </script>
</head>
<body>
<div id="header-wrapper">
<div class="container" id="header">
<div id="logo">
<h1>EdriS MANAGEMENT</h1>
</div>

<div id="menu">
<ul>
	<li class="current_page_item"><a accesskey="1" href="/" title="" style="color: White">Homepage</a></li>
	<li class="current_page_item"><a accesskey="1" href="#" title="">Set Projects</a></li>
	<li>&nbsp;</li>
</ul>
</div>
</div>

<div id="header-featured">
<div id="banner-wrapper">&nbsp;</div>
</div>
</div>

<div id="wrapper">
<div class="container" id="page">
<div id="content">
<div class="title">
<h2>Setting Projects</h2>
</div>

<p>&nbsp;</p>

<ul font-size>
	<li>
	<p style="font-size: 20px; font-weight:bold">Component name:</p>
	<p style="margin-left: 50px; font-size: 20px;">{{name}}</p>

	</li>
	<li>
    <p style="font-size: 20px; font-weight:bold">Component Path:</p>
    <p style="margin-left: 50px; font-size: 14px;">{{path}}</p>

    </li>
	<li>
	<p style="font-size: 20px; font-weight:bold">Component description: </p>

	<p style="margin-left: 50px; font-size: 20px;">{{description}}</p>
	</li>
	<li>
	<p style="font-size: 20px; font-weight:bold">File list:</p>
	{% for f in file_list %}

	<p style="margin-left: 50px; font-size: 20px;">{{f}}</p>
	{% endfor %}</li>
	<li>
	<p style="font-size: 20px; font-weight:bold">Operator ID:</p>
    <p style="margin-left: 50px; font-size: 20px;">{{operator}}</p></li>
</ul>
<p>&nbsp;</p>

<p>&nbsp;</p>

<table border="1" cellpadding="1" cellspacing="1" style="height: 100px; font-size: 20px;font-weight:bold ">
	<tbody>
		<tr>
			<td><img alt="" src="/static/images/unchecked.gif" />Don't use this dataset for the project</td>
			<td><img alt="" src="/static/images/intermediate.gif" />This dataset can be used</td>
			<td style="color:red"><img alt="" src="/static/images/checked.gif" />Use this dataset as base for the project (Planstand)</td>
		</tr>
	</tbody>
</table>

<form action="" enctype="multipart/form-data" method="post">
<input id="component_name" name="component_name" type="hidden" value="{{path}}" />
<ul class="container" id="banner">
	<li>
	<table>
	   <tbody>
	       {% for project in projects %}
           <tr>
               <td>
                <span id="box{{project[0]}}" style="cursor: default">&nbsp; {{project[0]}}
                <input id="{{project[0]}}" name="{{project[0]}}" onchange="setwarning(this)"
                type="hidden" value="{{project[1]}}" />
                </span>

               </td>
               <td>
                    <label id="lbl{{project[0]}}" name="lbl{{project[0]}}">&nbsp;</label>
               </td>
           </tr>	       {% endfor %}</li>
	   </tbody>
	</table>

<p>&nbsp;</p>
	<li><input type="submit" value="Submit" style="font-size: 18px; font-weight: bold" /></li>
</ul>

</form>
</div>
</div>
</div>
<script type="text/javascript">
            {% for project in projects %}
                initTriStateCheckBox('box{{project[0]}}', '{{project[0]}}', true);
            {% endfor %}
        </script></body>
</html>
